<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>

</head>
<body>
    <p>City: <%=city.name%></p>
    <p>State: <%=city.state%></p>
    <p>Population: <%=city.population%></p>
    <p><a href='./<%=city._id%>/edit'>Edit</a></p>
    <form action='/cities/<%=city._id%>?_method=DELETE' method='POST'>
        <button type='submit'>Delete City</button>
    </form>
</body>
</html>